<%- include('../partials/header') %>

<h1 id="planner-title">Weekly Meal Planner</h1>

<section class="container">
  <div>
    <label for="plan-name">Plan Name:</label>
    <input type="text" placeholder="e.g. Week of Jan 22">
    <input class="submit" type="submit" value="Save Plan Name">
</div>

<div class="meal-planner">

  <div></div>
<!-- Days of the week titles -->
  <div class="day-title">Monday</div>
  <div class="day-title">Tuesday</div>
  <div class="day-title">Wednesday</div>
  <div class="day-title">Thursday</div>
  <div class="day-title">Friday</div>
  <div class="day-title">Saturday</div>
  <div class="day-title">Sunday</div>

  <!-- MON BREAKFAST -->
  <div class="meal-type-title">Breakfast</div>
  <!-- Dish options for Breakfast -->
  <div class="dish-options">
    <select>
      <!-- Populate with dish options -->
      <option>Banana-Spinach Pancake</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>
    <!-- TUE BREAKFAST -->

  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- WED BREAKFAST -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- THU BREAKFAST -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <  <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- FRI BREAKFAST -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

     <!-- SAT BREAKFAST -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

  <!-- SUN BREAKFAST -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>
  

<!-- LUNCH -->
  
  <!-- MON LUNCH -->
  <div class="meal-type-title">Lunch</div>
  <!-- Dish options for Breakfast -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>
    <!-- TUE LUNCH -->

  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- WED LUNCH -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- THU LUNCH -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- FRI LUNCH -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

     <!-- SAT LUNCH -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

  <!-- SUN LUNCH -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>
  
  <!-- DINNER -->
  
  <!-- MON DINNER -->
  <div class="meal-type-title">Dinner</div>
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- TUE DINNER -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- WED DINNER -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- THU DINNER -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- FRI DINNER -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

     <!-- SAT DINNER -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

  <!-- SUN DINNER -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>


    <!-- SNACK-->
  
  <!-- MON SNACK -->
  <div class="meal-type-title">Snack</div>
  <!-- Dish options for Breakfast -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- TUE SNACK -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- WED SNACK -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- THU SNACK -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

    <!-- FRI SNACK -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

     <!-- SAT SNACK -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

  <!-- SUN SNACK -->
  <div class="dish-options">
    <select>
      <option>Select One</option>
      <% meals.forEach(meal => { %>
        <option><%= meal.name %></option>
      <% }); %>
    </select>
  </div>

</section>

<div class="add-dish">
  <a href="/plans/new">+ Add a new dish</a>
</div>

<section>
<h3 class="my-plans">MY PLANS</h3>
</section>

<%- include('../partials/footer') %>