<%- include('../partials/header') %>

<h1 id="planner-title">Weekly Meal Planner</h1>

<section class="container">


<div class="meal-planner">

  <div></div>
<!-- Days of the week titles -->
  <div class="day-title">Monday</div>
  <div class="day-title">Tuesday</div>
  <div class="day-title">Wednesday</div>
  <div class="day-title">Thursday</div>
  <div class="day-title">Friday</div>
  <div class="day-title">Saturday</div>
  <div class="day-title">Sunday</div>

<!-- MON BREAKFAST -->
<div class="meal-type-title">Breakfast</div>
<!-- Dish options for Breakfast -->
<div class="dish-options">
    <%= plan.monBrk %>
</div>

    <!-- TUE BREAKFAST -->

  <div class="dish-options">
    <%= plan.tueBrk %>
  </div>

    <!-- WED BREAKFAST -->
  <div class="dish-options">
    <%= plan.wedBrk %>
  </div>

    <!-- THU BREAKFAST -->
  <div class="dish-options">
    <%= plan.thuBrk %>
  </div>

    <!-- FRI BREAKFAST -->
  <div class="dish-options">
    <%= plan.friBrk %>
  </div>

     <!-- SAT BREAKFAST -->
  <div class="dish-options">
    <%= plan.satBrk %>
  </div>

  <!-- SUN BREAKFAST -->
  <div class="dish-options">
    <%= plan.sunBrk %>
  </div>
  

<!-- LUNCH -->
  
  <!-- MON LUNCH -->
  <div class="meal-type-title">Lunch</div>
  <!-- Dish options for Breakfast -->
  <div class="dish-options">
    <%= plan.monLun %>
  </div>

    <!-- TUE LUNCH -->

  <div class="dish-options">
    <%= plan.tueLun %>
  </div>

    <!-- WED LUNCH -->
  <div class="dish-options">
    <%= plan.wedLun %>
  </div>

    <!-- THU LUNCH -->
  <div class="dish-options">
    <%= plan.thuLun %>
  </div>

    <!-- FRI LUNCH -->
  <div class="dish-options">
    <%= plan.friLun %>
  </div>

     <!-- SAT LUNCH -->
  <div class="dish-options">
    <%= plan.satLun %>
  </div>

  <!-- SUN LUNCH -->
  <div class="dish-options">
    <%= plan.sunLun %>
  </div>
  
  <!-- DINNER -->
  
  <!-- MON DINNER -->
  <div class="meal-type-title">Dinner</div>
  <div class="dish-options">
    <%= plan.monDin %>
  </div>

    <!-- TUE DINNER -->
  <div class="dish-options">
    <%= plan.tueDin %>
  </div>

    <!-- WED DINNER -->
  <div class="dish-options">
    <%= plan.wedDin %>
  </div>

    <!-- THU DINNER -->
  <div class="dish-options">
    <%= plan.thuDin %>
  </div>

    <!-- FRI DINNER -->
  <div class="dish-options">
    <%= plan.friDin %>
  </div>

     <!-- SAT DINNER -->
  <div class="dish-options">
    <%= plan.satDin %>
  </div>

  <!-- SUN DINNER -->
  <div class="dish-options">
    <%= plan.sunDin %>
  </div>


    <!-- SNACK-->
  
  <!-- MON SNACK -->
  <div class="meal-type-title">Snack</div>
  <!-- Dish options for Breakfast -->
  <div class="dish-options">
    <%= plan.monSnk %>
  </div>

    <!-- TUE SNACK -->
  <div class="dish-options">
    <%= plan.tueSnk %>
  </div>

    <!-- WED SNACK -->
  <div class="dish-options">
    <%= plan.wedSnk %>
  </div>

    <!-- THU SNACK -->
  <div class="dish-options">
    <%= plan.thuSnk %>
  </div>

    <!-- FRI SNACK -->
  <div class="dish-options">
    <%= plan.friSnk %>
  </div>

     <!-- SAT SNACK -->
  <div class="dish-options">
    <%= plan.satSnk %>
  </div>

  <!-- SUN SNACK -->
  <div class="dish-options">
    <%= plan.sunSnk %>
  </div>
</section>


<div class="add-dish">
  <a href="/meals/new">+ Add a dish | Delete a dish</a>
</div>


<%- include('../partials/footer') %>