<%- include('../partials/header') %>

<main class="meal-list">
  <ul>
    <% meals.forEach(meal => { %>
      <li>
        <h3><%= meal.name %></h3>
        <p>Category: <%= meal.mealType.join(' | ') %></p>
        <a href="<%= meal.referenceURL %>" target="_blank">View Recipe</a>
        <!-- You can add a button here for "Add to Planner" if needed -->
      </li>
    <% }); %>
  </ul>
</main>


<%- include('../partials/footer') %>