<%- include('../partials/header') %>

<main>

  <section>
    <div class="category">
    <h3>Breakfast</h3>
  </div>
    <% meals.filter(meal => meal.mealType === 'Breakfast').forEach(function(meal) { %>
    <div class="dish-container">
      <div class="dish-name">
      <p><%= meal.name %></p>
    </div>
      <div class="dish-img">
        <img src="<%= meal.imgURL %>">
      </div>
      <div class="ref-url">
      <a href="<%= meal.referenceURL %>">View Recipe</a>
    </div>
  </div>
    <% }) %>
  </section>


  <section>
    <div class="category">
    <h3>Lunch</h3>
  </div>
    <% meals.filter(meal => meal.mealType === 'Lunch').forEach(function(meal) { %>
      <div class="dish-container">
        <div class="dish-name">
      <p><%= meal.name %></p>
      </div>
      <div class="dish-img">
        <img src="<%= meal.imgURL %>">
      </div>
      <div class="ref-url">
      <a href="<%= meal.referenceURL %>">View Recipe</a>
      </div>
      </div>
    <% }) %>
  </section>


  <section>
    <div class="category">
    <h3>Dinner</h3>
  </div>
    <% meals.filter(meal => meal.mealType === 'Dinner').forEach(function(meal) { %>
      <div class="dish-container">
        <div class="dish-name">
      <p><%= meal.name %></p>
        </div>
      <div class="dish-img">
        <img src="<%= meal.imgURL %>">
      </div>
      <div class="ref-url">
      <a href="<%= meal.referenceURL %>">View Recipe</a>
        </div>
     </div>
    <% }) %>
  </section>


  <section>
    <div class="category">
    <h3>Snack</h3>
  </div>
    <% meals.filter(meal => meal.mealType === 'Snack').forEach(function(meal) { %>
      <div class="dish-container">
        <div class="dish-name">
      <p><%= meal.name %></p>
      </div>
      <div class="dish-img">
        <img src="<%= meal.imgURL %>">
      </div>
      <div class="ref-url">
      <a href="<%= meal.referenceURL %>">View Recipe</a>
      </div>
    </div>
    <% }) %>
  </section>

</main>

<%- include('../partials/footer') %>