<%- include('../partials/header') %>

<main class="meal-list">
  <div class="meal-container">
    <div class="meal-info">
      <h3>Banana Spinach Pancake</h3>
      <p>Category: Breakfast | Snack</p>
      <a href="https://www.yummytoddlerfood.com/banana-spinach-pancakes" target="_blank">View Recipe</a>
    </div>
    <div class="meal-image">
      <img src="https://i.imgur.com/IKSvLr9.jpg" alt="Banana-spinach-pancake" width="200" height="200">
    </div>
    <div class="add-to-planner">
      <button>Add to Planner</button>
    </div>
  </div>
  <section>
    <h3>Breakfast</h3>
    <% meals.filter(meal => meal.mealType === 'Breakfast').forEach(function(meal) { %>
      <p><%= meal.name %></p>
      <img src="<%= meal.imgURL %>">
    <% }) %>
  </section>
  <section>
    <h3>Lunch</h3>
    <% meals.filter(meal => meal.mealType === 'Lunch').forEach(function(meal) { %>
      <p><%= meal.name %></p>
    <% }) %>
  </section>
  <section>
    <h3>Dinner</h3>
    <% meals.filter(meal => meal.mealType === 'Dinner').forEach(function(meal) { %>
      <p><%= meal.name %></p>
    <% }) %>
  </section>
  <section>
    <h3>Snack</h3>
    <% meals.filter(meal => meal.mealType === 'Snack').forEach(function(meal) { %>
      <p><%= meal.name %></p>
    <% }) %>
  </section>

</main>

<%- include('../partials/footer') %>