<%- include('../partials/header') %>

<section class="new-dish-container">
  <h1 id="add-title">Add your own dish to your planner</h1>

  <p id="note">If you can't find your desired dish on the list. You can add your own and it'll be added to the drop-down menu option</p>

  <div id="form-input">
    <form id="new-form" action="/meals" method="POST">
      <label>Dish Name:</label>
      <input type="text" name="name" placeholder="e.g. Overnight Oats">
      <label>Meal Type:</label>
      <select name="mealType">
        <option value="Breakfast">Breakfast</option>
        <option value="Lunch">Lunch</option>
        <option value="Dinner">Dinner</option>
        <option value="Snack">Snack</option>
      </select>
      <input class="submit" type="submit" value="Add a Dish">
    </form>
  </div>
</section>

<section class="added-dishes">
  <h3>List of your added dishes</h3>
  <p>These are also populated in the drop-down option in your meal planner.</p>
  <ul>
    <% meals.forEach(meal => { %>
    <li>
      <%= meal.name %>
      <% if (meal.user && meal.user.equals(user._id)) { %>
      <form action="/meals/<%= meal._id %>?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit"><i class='bx bx-trash bx-tada-hover' ></i></button>
      </form>
      <a href="/meals/<%= meal._id %>/edit"><i class='bx bxs-edit-alt bx-tada-hover' ></i></a>
      <% } %>
    </li>
    <% }); %>
  </ul>
</section>

<%- include('../partials/footer') %>